::-webkit-scrollbar{
    width:5px
}

::-webkit-scrollbar-track{
    background:#cfcfcf;
    border-radius:20px
}

::-webkit-scrollbar-thumb{
    background:#2ea4ff;
    border-radius:20px
}

.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #2ea4ff;
  border-color: #2ea4ff;
}

.add-shadow{
    box-shadow: 0 1px 1px rgba(0,0,0,0.12),
              0 2px 2px rgba(0,0,0,0.12),
              0 4px 4px rgba(0,0,0,0.12),
              0 8px 8px rgba(0,0,0,0.12),
              0 16px 16px rgba(0,0,0,0.12);
}